<%- include("./partials/header.ejs") %>
    <title>ShaadiBazar</title>
    <link href="/css/home.css" rel="stylesheet">
</head>
<body>
    <p class="title">Products</p>

           
    
    <div class="columns">
        <div class="column">
            <div class="columns">
                <div class="column"> 
                    <div class="card categories">
                        <div class="card-content">
                          <div class="content">
                            <a>Pre-wedding</a>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="column"> 
                    <div class="card categories">
                        <div class="card-content">
                          <div class="content">
                           <a>On-wedding</a>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="column">
                    <div class="card categories">
                        <div class="card-content">
                          <div class="content">
                            <a>Post- wedding</a>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="column">
                    <div class="card categories">
                        <div class="card-content">
                          <div class="content">
                            <a>Accessories</a>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="column">
                    <div class="card categories">
                        <div class="card-content">
                          <div class="content">
                            <a>Fragrances</a>
                          </div>
                        </div>
                      </div>
                </div>
              </div>
        </div>
      </div>

    
    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img
                      src="https://bulma.io/assets/images/placeholders/1280x960.png"
                      alt="Placeholder image"
                    />
                  </figure>
                </div>
                <div class="card-content">
                  <div class="media">
                    
                    <div class="media-content">
                      <p class="title is-4">John Smith</p>
                      <p class="subtitle is-6">@johnsmith</p>
                    </div>
                  </div>
              
                  <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                    iaculis mauris. <a>@bulmaio</a>. <a href="#">#css</a>
                    <a href="#">#responsive</a>
                    <br />
                    <p>₹ 500</p>
                    <div><button class="button is-primary">Buy Now</button></div>
                  </div>
                </div>
              </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img
                      src="https://bulma.io/assets/images/placeholders/1280x960.png"
                      alt="Placeholder image"
                    />
                  </figure>
                </div>
                <div class="card-content">
                  <div class="media">
                    
                    <div class="media-content">
                      <p class="title is-4">John Smith</p>
                      <p class="subtitle is-6">@johnsmith</p>
                    </div>
                  </div>
              
                  <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                    iaculis mauris. <a>@bulmaio</a>. <a href="#">#css</a>
                    <a href="#">#responsive</a>
                    <br />
                    <p>₹ 500</p>
                    <div><button class="button is-primary">Buy Now</button></div>
                  </div>
                </div>
              </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img
                      src="https://bulma.io/assets/images/placeholders/1280x960.png"
                      alt="Placeholder image"
                    />
                  </figure>
                </div>
                <div class="card-content">
                  <div class="media">
                    
                    <div class="media-content">
                      <p class="title is-4">John Smith</p>
                      <p class="subtitle is-6">@johnsmith</p>
                    </div>
                  </div>
              
                  <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                    iaculis mauris. <a>@bulmaio</a>. <a href="#">#css</a>
                    <a href="#">#responsive</a>
                    <br />
                    <p>₹ 500</p>
                    <div><button class="button is-primary">Buy Now</button></div>
                  </div>
                </div>
              </div>
        </div>
      
      </div>



      //2nd

      <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img
                      src="https://bulma.io/assets/images/placeholders/1280x960.png"
                      alt="Placeholder image"
                    />
                  </figure>
                </div>
                <div class="card-content">
                  <div class="media">
                    
                    <div class="media-content">
                      <p class="title is-4">John Smith</p>
                      <p class="subtitle is-6">@johnsmith</p>
                    </div>
                  </div>
              
                  <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                    iaculis mauris. <a>@bulmaio</a>. <a href="#">#css</a>
                    <a href="#">#responsive</a>
                    <br />
                    <p>₹ 500</p>
                    <div><button class="button is-primary">Buy Now</button></div>
                    
                  </div>
                </div>
              </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img
                      src="https://bulma.io/assets/images/placeholders/1280x960.png"
                      alt="Placeholder image"
                    />
                  </figure>
                </div>
                <div class="card-content">
                  <div class="media">
                    
                    <div class="media-content">
                      <p class="title is-4">John Smith</p>
                      <p class="subtitle is-6">@johnsmith</p>
                    </div>
                  </div>
              
                  <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                    iaculis mauris. <a>@bulmaio</a>. <a href="#">#css</a>
                    <a href="#">#responsive</a>
                    <br />
                    <p>Item id: 2343</p>
                    <p>₹ 500</p>
                    <div>
                        <form action="/checkout" method="POST">
                            <input type="text"id="id" name="itemid" value="2343">
                            
                            <input type="submit" class="button is-primary" id="btn5" value="Buy Now">
                            
                        </form></div>
                  </div>
                </div>
              </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img
                      src="https://bulma.io/assets/images/placeholders/1280x960.png"
                      alt="Placeholder image"
                    />
                  </figure>
                </div>
                <div class="card-content">
                  <div class="media">
                    
                    <div class="media-content">
                      <p class="title is-4">John Smith</p>
                      <p class="subtitle is-6">@johnsmith</p>
                    </div>
                  </div>
              
                  <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                    iaculis mauris. <a>@bulmaio</a>. <a href="#">#css</a>
                    <a href="#">#responsive</a>
                    <br />
                    <p>Item id: 4123</p>
                    <p>₹ 500</p>
                    <div>
                        <form action="/checkout" method="POST">
                            <input type="text" id="id"name="itemid" value="4123">
                            
                            <input type="submit" class="button is-primary" id="btn6" value="Buy Now">
                            
                        </form></div>
                  </div>
                </div>
              </div>
        </div>
      
      </div>
     
      </body>
      <button id="rzp-button1">Pay with Razorpay</button>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    let id=document.querySelector("#id").textContent
    console.log("Orderr id is: "+id)
var options = {
    "key": "rzp_test_uGXwmjbEx8HYBf", // Enter the Key ID generated from the Dashboard
    "amount": "50000", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "ShaadiBazar",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "prefill": {
        "name": "Kshitiz VIkram SIngh",
        "email": "kshitiz.singh@example.com",
        "contact": "9000090000"
    },
    "notes": {
        "address": "ShaadiBazar"
    },
    "theme": {
        "color": "#3399cc"
    }
};
console.log(id)
var rzp1 = new Razorpay(options);
document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script>
      <script>
        const btn6=document.querySelector("#btn6")
        btn6.addEventListener('click',()=>{
            console.log("btn 6 is clicked")
            let obj={"item-code":"4123"}
        })
      </script>

</html>